html,body{
    margin:0px;
    background-color: white;
    overflow: block; /* Hide scrollbars */
}
#btn001{
    background-color: transparent;
    font-family: BankGothic Lt BT;
    font-size: 35px;
    border: 0px;
    
}
.nav-links {
    list-style-type: none;
    margin: 7px;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
  }
  
  .nav-links li {
    float: left;
  }
  
  .nav-links li a {
    font-size: 20px;
    display: block;
    color: black;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
  }
  
  #contact{
      background-color: #DC3522;
      color: white;
      border-radius: 34px;
  }
  
 #contact:hover {
    background-color: #dc35228e;
    color: black;
    border-radius: 34px;
  }
#rectangle001{  
    margin-left: 40px;
    height: 370px;
    width: 25px;
    background-color:#FF8C00;
    border-radius: 30px;
    margin-top: 130px;
    border: 0px;
}
h1{
    font-family: BankGothic Md BT;
    font-size: 60px;
    margin-top: -320px;
    margin-left: 70px;
    
}
h2{
    font-family: BankGothic Lt BT;
    margin-left: 70px;
    margin-top: -40px;
    font-size: 40px;
    color: #707070;
}
h3{
    font-family: BankGothic Lt BT;
    margin-left: 70px;
    margin-top: -20px;
    font-size: 40px;
    color: #707070;  
}
h4{
    font-family: BankGothic Lt BT;
    margin-left: 70px;
    margin-top: -30px;
    font-size: 40px;
    color: #707070;  
}
#rectangle002{
    width: 650px;
    height: 570px;
    background-color: #FF8C00;
    float: right;
    margin-top:30px;
    border-radius: 50px 0px 0px 50px;
}
h5{
    color: White;
    font-size: 400px;
    font-family: BankGothic Lt BT;
    margin-top: 60px;
    margin-left: 50px;    
}
#comingsoon{
    margin-left:180px; 
    margin-top:-50px;
}

@media only screen and (max-width: 415px){
    
    #btn001{
        font-size: 25px;
    }
    h1{
        margin-top: -350px;
    }
    #rectangle002{
        display:block;
        width: 400px;
        height: 270px;
        
    }
    h5{
        display:none;
    }
    #rectangle001{
        margin-top: 350px;
    }
    #comingsoon{
        width: 400px;
        height: 270px;
        margin-top: 50px;
        margin-left: 0px;
    }
}